<header class="header">
  <nav class="header-nav h-16 text-lg">
    <div class="container flex justify-between">
      <div class="header-nav-left">
        <LinkTo @route="authenticated" data-test-id="header-logo-link">
          <object type="image/svg+xml" data="/logos/dig_logo.svg" class="logo pointer-events-none inline-block">
            DigLocal Logo
          </object>
         <span class="hidden md:inline-block">DigLocal Admin</span>
       </LinkTo>
      </div>
      <div class="header-nav-right">
        {{#if regions.activeRegion}}
          <Header::SelectRegion />
        {{/if}}

        <Header::CurrentUserDropdown />

        {{#if (media "isMobile")}}
          <button {{action (mut @showSidebar) true}} class="px-1 text-brand-primary text-2xl" aria-label="Menu" type="button" data-test-id="open-mobile-menu"> &#9776; </button>
        {{/if}}
      </div>
    </div>
  </nav>

  <nav role="navigation" class="header-nav header-nav--secondary h-12">
    <div class="container">
      {{#unless (media "isMobile")}}
        <ul class="flex w-full h-full items-center">
          <Header::NavLinks />
        </ul>
      {{/unless}}
    </div>
  </nav>

  {{#if @showSidebar}}
    <div id="sidebar" class="fixed inset-0 h-full bg-white z-90 w-full block" data-test-id="mobile-menu">
      <div id="nav_wrapper" class="h-full overflow-y-auto scrolling-touch relative bg-white">
        {{#if (media "isMobile")}}
          <div class="flex justify-end">
            <button
              {{action (mut @showSidebar) false}}
              class="px-6 text-5xl text-gray-600"
              aria-label="Close"
              type="button"
              data-test-id="close-mobile-menu"
            >
              &times;
            </button>
          </div>
        {{/if}}
        <nav role="navigation" class="px-6 pt-4 overflow-y-auto text-base h-screen-less-16 max-w-full">
          <ul class="mb-8">
            <Header::NavLinks />
          </ul>
        </nav>
      </div>
    </div>
  {{/if}}
</header>
