.transition {
  transition: all .1s ease-in!important;
}

.transition-fast {
  transition: all .2s ease !important;
}

.translate-r-2px {
  transform: translateX(2px) !important;
}

.h-screen-less-16 {
  height: calc(100vh - 4rem);
}

.h-screen-less-32 {
  height: calc(100vh - 8rem);
}

.container {
  @apply max-w-container mx-auto px-2;
}
