<div class="flex text-center text-xs font-bold text-brand-primary">
  <div class="w-1/6 bg-white h-10"></div>
  <div class="w-1/6 bg-white h-10 border-b border-brand-primary">Total Impressions / Views</div>
  <div class="w-1/6 bg-white h-10 border-b border-brand-primary">Business Profile Page Impressions</div>
  <div class="w-1/6 bg-white h-10 border-b border-brand-primary">Business Listing Impressions</div>
  <div class="w-1/6 bg-white h-10 border-b border-brand-primary">Scoop Calendar Impressions</div>
  <div class="w-1/6 bg-white h-10 border-b border-brand-primary">Today Marquee Impressions</div>
</div>
<div class="flex text-center text-xs font-medium">
  <div class="w-1/6 bg-white h-10"></div>
  <div class="flex w-1/6 bg-white h-10">
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Total</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">App</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Browser</div>
  </div>
  <div class="flex w-1/6 bg-white h-10">
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">Total</div>
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">App</div>
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">Browser</div>
  </div>
  <div class="flex w-1/6 bg-white h-10">
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Total</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">App</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Browser</div>
  </div>
  <div class="flex w-1/6 bg-white h-10">
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">Total</div>
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">App</div>
    <div class="w-1/3 bg-white h-10 flex items-end justify-center pb-1">Browser</div>
  </div>
  <div class="flex w-1/6 bg-white h-10">
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Total</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">App</div>
    <div class="w-1/3 bg-gray-100 h-10 flex items-end justify-center pb-1">Browser</div>
  </div>
</div>
