.header {
  @apply fixed top-0 inset-x-0 flex flex-wrap h-24 w-full z-100;
  @apply font-normal text-xl;

  .header-nav {
    @apply flex w-full;
    @apply bg-brand-gray-light text-brand-primary;

    &--secondary {
      @apply bg-brand-primary text-white;
    }
  }

  .header-nav-left, .header-nav-right {
    @apply flex items-center py-1;
  }
}

.h-(screen-16) {
  height: calc(100vh - 4rem);
}

.nav-link {
  @apply px-2 mr-2 py-2 transition relative inline-block text-base font-medium;
  &:hover {
    /* @apply border-b-2 border-white; */
  }

  &.active {
    @apply font-bold;
  }
}

.nav-link--mobile {
  @apply px-2 py-2 transition relative block text-xl text-brand-primary font-normal;
  &.active {
    @apply text-brand-primary font-bold;
  }
}

.logo {
  width: 36px;
  height: 100%;
  margin-right: 1em;

  svg {
    width: 100%;
    height: 100%;
  }
}

.corner-ribbon {
  @apply fixed bg-purple-700;
  @apply uppercase text-sm font-semibold text-center text-white leading-relaxed tracking-wider;
  @apply shadow;
  width: 175px;
  top: 20px;
  left: -55px;
  transform: rotate(-45deg);
  z-index: 200;
}
