.treadmill-content {
  &__fixed-header {
    @apply fixed z-10 w-full bg-white border-b-2 border-brand-primary px-2 py-2;
    @screen lg {
      @apply w-container-3/4;
    }
    @screen xl {
      @apply w-container-4/5;
    }
    /*
    * Hack to ensure the content in the fixed header isn't cut off at certain screen sizes
    */
    & > div {
      @media screen and (min-width: 1024px) and (max-width: 1099px) {
        max-width: 85%;
      }
      @media screen and (min-width: 1100px) and (max-width: 1179px) {
        max-width: 88%;
      }
      @media screen and (min-width: 1180px) and (max-width: 1280px) {
        max-width: 95%;
      }
    }
  }

  &__col-heading {
    @apply flex h-full items-end text-brand-primary font-medium;
  }

  &__table-body {
    @apply mx-2;
  }

  &__table-footer {
    @apply flex text-brand-primary font-medium text-sm p-3 items-center justify-end;
  }
}
