<div class="flex items-center justify-start mb-3">
  <p class="mr-4">Manage locations for your business.</p>
  <CrunchyButton
    @onClick={{action "create"}}
    @aria-label="Add a new location"
    @class="crunchy-button--primary"
    @disabled={{this.hasNewRecord}}>
    <FaIcon @icon="plus" @size="sm" /> Add Location
  </CrunchyButton>
</div>

{{#if this.hasNewRecord}}
  <Location::Form @model={{this.newRecord}} @isEditing={{true}} />
{{/if}}
