<div class="analytics-table__row analytics-table__row--skeleton">
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell text-left">
    </div>
  </div>
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell">
    </div>
  </div>
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell">
    </div>
  </div>
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell">
    </div>
  </div>
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell">
    </div>
  </div>
  <div class="analytics-table__col-group">
    <div class="analytics-table__cell">
    </div>
  </div>
</div>
