<BasicDropdown
  @horizontalPosition="right"
  as |dd|>
  <dd.Trigger class="flex items-center focus:outline-none mr-3 text-lg" data-test-id="select-region-dd-trigger">
    <span class="mr-1" data-test-id="active-region">{{this.activeRegion.longName}}</span>
    <FaIcon @icon="angle-down" @size="xs" />
  </dd.Trigger>
  <dd.Content class="shadow p-1 mt-2 border rounded-sm text-lg">
    <ul>
      {{#each this.regionsService.regions as |region|}}
        <li class="py-2 px-4 w-full" data-test-id={{concat "select-region-" region.id}}>
          <CrunchyButton @onClick={{action "selectRegion" region dd}} @class="crunchy-button--link w-full">
            {{region.longName}}
          </CrunchyButton>
        </li>
      {{/each}}
    </ul>
  </dd.Content>
</BasicDropdown>
