<div class="fixed w-full border-b"></div>
<div class="container pt-4">
  <Home::DetailsForm @model={{@model}} @selectedBusiness={{@model.location.business}} @rollbackModel={{this.rollbackModel}} />
</div>
