.crunchy-form {

  &__group {
    @apply mb-4;
  }

  &__group-label {
    @apply block text-base font-poppins font-medium text-black mb-2;

    &--checkbox {
      @apply font-medium text-brand-primary;
      @apply mb-0;
    }
  }

  &__toggle-label {
    @apply font-medium pr-2;
  }

  &__group-control {
    /* @apply mb-1; */
  }

  &__group-error {
    @apply text-brand-error text-xs font-medium;
  }

  &__errors {
    @apply py-2 px-4 rounded bg-red-100 mt-2;
  }

  &__error-list-heading {
    @apply font-medium mb-2 text-sm;
  }

  &__error-message {
    @apply text-brand-error font-medium mb-1;
  }

  &__input, &__textarea {
    @apply border border-gray-300 rounded py-3 px-4 block w-full leading-normal;
    &:focus, &:active {
      @apply bg-white border-gray-300;
    }
    &:disabled {
      @apply bg-gray-100 border-transparent;
    }
  }

  &__checkbox {
    @apply form-checkbox;
  }

  &__radio {
    @apply form-radio;
  }
}

button:disabled, input:disabled, textarea:disabled {
  @apply cursor-not-allowed;
}

.crunchy-button {
  &--auth {
    @apply shadow-md text-base font-medium py-2 px-10 rounded flex justify-start items-center;
    &:hover, &:active {
      @apply shadow-lg;
    }
    &:disabled {
      @apply shadow-md;
    }

    .auth-provider-icon {
      border: none;
      display: inline-block;
      height: 18px;
      vertical-align: middle;
      width: 18px;
      flex-shrink: 0;
    }

    .auth-provider-text {
      padding-left: 16px;
      flex-grow: 1;
      text-align: left;
    }
  }

  &--facebook {
    background-color: #3b5998;
    color: #fff;
  }

  &--google {
    background-color: #fff;
    color: #757575;
  }


  &--primary, &--submit, &--modal-confirm {
    @apply transition bg-brand-primary border-brand-primary border text-white text-base font-medium py-2 px-4 rounded;

    &:hover, &:active {
      @apply bg-brand-primary-darker border-transparent;
    }

    &:disabled {
      @apply bg-brand-primary border-brand-primary opacity-75;
    }
  }

  &--outline, &--cancel, &--modal-cancel {
    @apply transition bg-transparent text-brand-primary border-brand-primary text-base font-medium py-2 px-4 rounded border;

    &:hover, &:active {
      @apply bg-brand-primary text-white border-transparent;
    }

    &:disabled {
      @apply bg-transparent text-brand-primary border-brand-primary;
    }
  }

  &--text-sm {
    @apply text-sm;
  }

  &--link {
    @apply transition bg-transparent text-brand-primary border-brand-primary font-medium;

    &-bold {
      @apply font-bold;
    }

    &:hover, &:active {
      /* @apply font-semibold; */
    }

    &:disabled {
      /* @apply bg-transparent text-brand-primary; */
    }
  }

  &--icon {
    @apply transition bg-transparent text-brand-primary;

    &:hover, &:active {
      /* @apply text-brand-primary-darker; */
    }

    &:disabled {
      /* @apply text-brand-primary opacity-75; */
    }
  }
}
