<nav class="fixed z-10 w-full lg:w-5/6 bg-white px-2 pt-2 pb-2 h-16 flex flex-wrap items-center">
  <ul class="tabs w-full">
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.index" @model={{model.id}} @class="tabs__link">Details</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.social" @class="tabs__link">Social</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.locations" @class="tabs__link">Locations</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.scoops" @class="tabs__link">Scoops</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.photos" @class="tabs__link">Photos</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.businesses.view.users" @class="tabs__link">Users</LinkTo>
    </li>
    <li class="tabs__spacer w-full" aria-hidden="true">
    </li>
  </ul>
</nav>
<div class="pt-16 relative lg:max-w-5/6">
  {{outlet}}
</div>
