<div class="p-4">
  <Location::Create @business={{model.business}} class="mb-4" />
  {{#each model.locations as |item|}}
    <Location::Form @model={{item}} @class="border border-gray-300 rounded" />
  {{/each}}
</div>
