{{#if (and form.didSubmit
  (or form.submitTask.last.isError (v-get model "isInvalid")))}}
  <div class="crunchy-form__errors">
    {{#if errorHeading}}
      <p class="crunchy-form__error-list-heading">
        {{errorHeading}}
      </p>
    {{/if}}
    <ul class="crunchy-form__error-list">
      {{#if form.submitTask.last.isError}}
        {{#each form.submitTask.last.error.errors as |error|}}
          <li class="crunchy-form__error-message">{{or error.detail error.message error.title}}</li>
        {{/each}}
      {{/if}}
      {{#if (v-get model "isInvalid")}}
        {{#each (v-get model "errors") as |error|}}
          <li class="crunchy-form__error-message">{{error.message}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
{{/if}}

{{yield}}
