{{#if (and form.didSubmit
  (or form.submitTask.last.isError formMessages.length))}}
  <div class="crunchy-form__errors">
    {{#if errorHeading}}
      <p class="crunchy-form__error-list-heading">
        {{errorHeading}}
      </p>
    {{/if}}
    <ul class="crunchy-form__error-list">
      {{#if form.submitTask.last.isError}}
        {{#each form.submitTask.last.error.errors as |error|}}
          <li class="crunchy-form__error-message">{{or error.detail error.message error.title}}</li>
        {{/each}}
      {{/if}}
      {{#if formMessages.length}}
        {{#each formMessages as |error|}}
          <li class="crunchy-form__error-message">{{error}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
{{/if}}

{{yield}}
