{{#bread-crumbs
  tagName="ul"
  linkable=this.linkable
  class="py-2"
  crumbClass=this.crumbClass
  linkClass=this.linkClass
  as |component crumb|
}}
  {{#bread-crumb
    route=crumb
    breadCrumbs=component
    class="inline"
  }}
    <span
      class={{if (or
          (eq crumb.path this.router.currentRouteName)
          (eq (concat crumb.path ".index") this.router.currentRouteName))
          "crunchy-breadcrumbs__active-crumb"}}
    >
      {{crumb.title}}
    </span>
  {{/bread-crumb}}
{{/bread-crumbs}}
