{{#bread-crumbs
  tagName="ul"
  linkable=this.linkable
  class="py-2"
  crumbClass=this.crumbClass
  linkClass=this.linkClass
  as |component crumb|
}}
  {{#bread-crumb
    route=crumb
    breadCrumbs=component
    class="inline text-sm text-gray-600 font-medium"
  }}
    <span
      class={{concat "hover:text-gray-800"
        (if (or
          (eq crumb.path this.router.currentRouteName)
          (eq (concat crumb.path ".index") this.router.currentRouteName))
          "crunchy-breacrumbs__active-crumb text-gray-800")
        }}
    >
      {{crumb.title}}
    </span>
  {{/bread-crumb}}
{{/bread-crumbs}}
