<nav class="fixed z-10 w-full bg-white px-2 pt-2 pb-2 h-16 flex flex-wrap items-center">
  <ul class="tabs w-full">
    <li class="tabs__tab">
      <LinkTo @route="authenticated.site-settings.index" @class="tabs__link">Global</LinkTo>
    </li>
    <li class="tabs__tab">
      <LinkTo @route="authenticated.site-settings.categories" @class="tabs__link">Categories</LinkTo>
    </li>
    <li class="tabs__spacer w-full" aria-hidden="true">
    </li>
  </ul>
</nav>

<div class="pt-24 relative">
  {{outlet}}
</div>
